<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Backbone.js Library</title>
	<link rel="stylesheet" href="css/screen.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />
</head>
<body>

<div id="books">
	<form id="addBook" action="#">
		<div>
			<label for="coverImage">CoverImage: </label><input id="coverImage" type="file" />
			<label for="title">Title: </label><input id="title" type="text" />
			<label for="author">Author: </label><input id="author" type="text" />
			<label for="releaseDate">Release date: </label><input id="releaseDate" type="text" />
			<label for="keywords">Keywords: </label><input id="keywords" type="text" placeholder="Comma separated" />
			<button id="add">Add</button>
		</div>
	</form>
</div>

<script id="bookTemplate" type="text/template">
	<img src="<%= coverImage %>"/>
	<ul>
		<li><%= title %></li>
		<li><%= author %></li>
		<li><%= $.format.date(new Date(releaseDate), 'MM/dd/yyyy') %></li>
		<li><% _.each(keywords, function(keyobj, index, list){ %><%= keyobj.keyword %><% if(index < list.length - 1){ %><%= ', ' %><% } %><% }); %></li>
	</ul>
	<button class="delete">Delete</button>
</script>
<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/jquery.dateFormat-1.0.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="js/libs/underscore-min.js"></script>
<script src="js/libs/backbone-min.js"></script>
<script src="js/app.js"></script>

</body>
</html>
